<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
print("Olá mundo!")

Olá mundo!

Crie uma célua de texto e adicione uma imagem.

<!-- Imagem gerada por inteligência artificial -->
![Programação](img.png)

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [9]:
# (A)
qtv_19 = 3
tm_19 = 320.52

a = qtv_19 * tm_19

print(a)

961.56

In [11]:
# (B)
vtv_20 = 834.47
tm_20 = 119.21

b = vtv_20 / tm_20

print(b)

7.000000000000001

In [12]:
# (C)
vtv_23 = 15378.12
qtv_23 = 5

c = vtv_23 / qtv_23

print(c)

3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [13]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [ ]:
# UpperCase
print(cancao.upper())

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

In [ ]:
# Replacement
print(cancao.replace("roda", "rd"))

Roda mundo, rd gigante, rd moinho, rd pião.

In [18]:
# Position
gigante = cancao.find("gigante")

print(gigante)

17

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [20]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

In [ ]:
# Valor da taxa selic
valor_selic = (noticia[12:17])

print(valor_selic)

2,75%

In [22]:
# Valor do ano
valor_ano = (noticia[-7])

print(valor_ano)

6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [23]:
a = False
b = True

x = not a & b

In [24]:
print(x)

True

<!-- Valor da variável X -->

x = True